
/* background */
$--doki-selector-checked-bg: rgb(0, 170, 187);
$--doki-selector-success-checked-bg: rgb(119, 153, 119);
$--doki-selector-disabled-checked-bg: rgb(187, 187, 187);
$--doki-selector-warning-checked-bg: rgb(255, 153, 34);
$--doki-selector-danger-checked-bg: rgb(221, 34, 0);

/* accordion */
$--doki-accordion-radio-color: rgba(255, 85, 34);
$--doki-accordion-checkbox-color: rgb(0, 170, 187);


.doki-radio {
  font-family: "Microsoft YaHei UI Light", sans-serif;
  cursor: pointer;
}

.doki-radio label {
  cursor: pointer;
}

.doki-radio input {
  appearance: none;
  cursor: pointer;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 1px solid $--doki-selector-checked-bg;
  transition: 0.1s all linear;
  margin-right: 5px;
  top: 2px;

  position: relative;
}

.doki-radio input:checked {
  border: 4px solid $--doki-selector-checked-bg;
}

.doki-radio-disabled input {
  cursor: not-allowed;
  border: 1px solid $--doki-selector-disabled-checked-bg;
}

.doki-radio-disabled label {
  cursor: not-allowed;
  color: $--doki-selector-disabled-checked-bg;
}

