@use "../vars/buttons";

.doki-plain-button {
  width: 80px;
  height: 35px;

  font-family: "Microsoft YaHei UI Light", sans-serif;
  font-weight: bold;
  background: var(--button-default-bg);
  color: black;
  border: 1px solid var(--doki-button-default-border);
  border-radius: 5px;

  transition: all 0.3s ease-in-out;
}

.doki-plain-button:hover {
  background: none;
  border: 1px solid var(--doki-button-default-border-hover);
  color: var(--doki-button-default-text-hover);
  opacity: 0.8;

}

.doki-plain-primary-button {
  border: none;
  background: var(--doki-plain-button-primary-bg);
  border: 1px solid var(--doki-button-primary-bg);
  color: var(--doki-button-primary-bg);
}


.doki-plain-primary-button:hover {
  background: var(--doki-button-primary-bg);
  border: none;
  color: white;
}

.doki-plain-success-button {
  border: solid 1px var(--doki-button-success-bg);
  background: var(--doki-plain-button-success-bg);
  color: var(--doki-button-success-bg);
}

.doki-plain-success-button:hover {
  background: var(--doki-button-success-bg);
  border: none;
  color: white;
}

.doki-plain-info-button {
  border: solid 1px var(--doki-button-info-bg);
  background: var(--doki-plain-button-info-bg);
  color: var(--doki-button-info-bg);
}

.doki-plain-info-button:hover {
  background: var(--doki-button-info-bg);
  border: none;
  color: white;
}

.doki-plain-warning-button {
  border: solid 1px var(--doki-button-warning-bg);
  background: var(--doki-plain-button-warning-bg);
  color: var(--doki-button-warning-bg)
}

.doki-plain-warning-button:hover {
  background: var(--doki-button-warning-bg);
  border: none;
  color: white;
}

.doki-plain-danger-button {
  border: solid 1px var(--doki-button-danger-bg);
  background: var(--doki-plain-button-danger-bg);
  color: var(--doki-button-danger-bg);
}

.doki-plain-danger-button:hover {
  background: var(--doki-button-danger-bg);
  border: none;
  color: white;
}