@use "../vars/alert";

.doki-alert {
  width: 300px;
  min-height: 40px;

  padding: 10px;
  box-sizing: border-box;

  border-radius: 5px;
  background: var(--doki-alert-default-bg);
  color: var(--doki-alert-text-default);

  position: relative;
  z-index: 123;

  display: flex;
  align-items: center;

  font-family: "Microsoft YaHei UI Light", sans-serif;
  font-weight: bold;

  .doki-alert__icon {
    width: 20px;
    height: 20px;

    margin: 0 10px 0 0 ;
    img {
      width: 20px;
      height: 20px;
    }
  }

  .doki-alert__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .description {
      font-weight: normal;
      font-size: 13px;
    }
  }

  svg {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 5px;
    path {
      fill: var(--doki-alert-text-default);
    }
  }
}

.doki-alert__info {
  background: var(--doki-alert-info-bg);
  color: var(--doki-alert-text-info);
  svg {
    path {
      fill: var(--doki-alert-text-info);
    }
  }
}

.doki-alert__success {
  background: var(--doki-alert-success-bg);
  color: var(--doki-alert-text-success);
  svg {
    path {
      fill: var(--doki-alert-text-success);
    }
  }
}

.doki-alert__warning {
  background: var(--doki-alert-warning-bg);
  color: var(--doki-alert-text-warning);
  svg {
    path {
      fill: var(--doki-alert-text-warning);
    }
  }
}

.doki-alert__danger {
  background: var(--doki-alert-danger-bg);
  color: var(--doki-alert-text-danger);
  svg {
    path {
      fill: var(--doki-alert-text-danger);
    }
  }
}