.doki-virtual-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 1000px;
  height: 600px;

  overflow: auto;
}

.doki-virtual-list-item {
  margin: 5px 0;

}

.doki-virtual-list-container {
  position: relative;

  transition: all 0.2s ease-in-out;
}