:root {

  /* background */
  --doki-button-default-bg: white;
  --doki-button-primary-bg: rgb(0, 170, 187);
  --doki-button-success-bg: rgb(119, 153, 119);
  --doki-button-info-bg: rgb(187, 187, 187);
  --doki-button-warning-bg: rgb(255, 153, 34);
  --doki-button-danger-bg: rgb(221, 34, 0);

  /* border */
  --doki-button-default-border: #BBBBBB;
  --doki-button-default-border-hover: #0077DD;

  /* hover */
  --doki-button-default-bg-hover: #44DDFF;

  /* text */
  --doki-button-default-text-hover: #0077DD;
}

/* plain */
:root {

  /* background */
  --doki-plain-button-default-bg: white;
  --doki-plain-button-primary-bg: rgba(0, 170, 187, 0.3);
  --doki-plain-button-success-bg: rgba(119, 153, 119, 0.3);
  --doki-plain-button-info-bg: rgba(187, 187, 187, 0.3);
  --doki-plain-button-warning-bg: rgba(255, 153, 34, 0.3);
  --doki-plain-button-danger-bg: rgba(221, 34, 0, 0.3);

  /* border */
  --doki-button-default-border: #BBBBBB;
  --doki-button-default-border-hover: #0077DD;

  /* hover */
  --doki-button-default-bg-hover: #44DDFF;

  /* text */
  --doki-button-default-text-hover: #0077DD;

  --doki-button-default-bg: white;
  --doki-button-primary-bg: rgb(0, 170, 187);
  --doki-button-success-bg: rgb(119, 153, 119);
  --doki-button-info-bg: rgb(187, 187, 187);
  --doki-button-warning-bg: rgb(255, 153, 34);
  --doki-button-danger-bg: rgb(221, 34, 0);
}