@use "../vars/message";

.doki-message {
  width: 300px;
  max-width: 600px;
  height: 40px;

  border-radius: 5px;

  display: flex;
  align-items: center;

  transition: all 0.3s ease-in-out;
  animation: linear 0.2s show;

  position: fixed;
  top: 0;
  left: 50%;

  background: var(--doki-message-default-bg);
  .doki-message__icon {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    img {
      width: 24px;
      height: 24px;
    }
  }

  .doki-message__content {
    font-family: "Microsoft YaHei UI Light", sans-serif;
    color: var(--doki-message-text-default);
  }

  svg {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 5px;
    cursor: pointer;

    path {
      fill: var(--doki-message-text-default);
    }
  }
}

.center {
  justify-content: center;
}

.doki-message__success {
  background: var(--doki-message-success-bg);
  .doki-message__content {
    color: var(--doki-message-text-success);
  }

  svg {
    path {
      fill: var(--doki-message-text-success);
    }
  }
}

.doki-message__info {
  background: var(--doki-message-info-bg);
  .doki-message__content {
    color: var(--doki-message-info-text);
  }
  svg {
    path {
      fill: var(--doki-message-text-info);
    }
  }
}

.doki-message__warning {
  background: var(--doki-message-warning-bg);
  .doki-message__content {
    color: var(--doki-message-warning-text);
  }
  svg {
    path {
      fill: var(--doki-message-text-warning);
    }
  }
}

.doki-message__danger {
  background: var(--doki-message-danger-bg);
  .doki-message__content {
    color: var(--doki-message-danger-text);
  }
  svg {
    path {
      fill: var(--doki-message-text-danger);
    }
  }
}

