
$--doki-message-default-bg: #e0faff;
$--doki-message-info-bg: rgb(237, 237, 237);
$--doki-message-success-bg: rgb(219, 255, 219);
$--doki-message-warning-bg: rgb(255, 226, 195);
$--doki-message-danger-bg: rgb(255, 209, 198);

$--doki-message-text-default: #1cabca;
$--doki-message-text-success: rgb(119, 153, 119);
$--doki-message-text-info: rgb(147, 147, 147);
$--doki-message-text-warning: rgb(255, 153, 34);
$--doki-message-text-danger: rgb(221, 34, 0);


.doki-message {
  width: 300px;
  max-width: 600px;
  height: 40px;

  border-radius: 5px;

  display: flex;
  align-items: center;

  transition: all 0.3s ease-in-out;
  animation: linear 0.2s show;

  position: fixed;
  top: 0;
  left: 45%;

  background: var($--doki-message-default-bg);
  .doki-message__icon {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    img {
      width: 24px;
      height: 24px;
    }
  }

  .doki-message__content {
    font-family: "Microsoft YaHei UI Light", sans-serif;
    color: var($--doki-message-text-default);
  }

  svg {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 5px;
    cursor: pointer;

    path {
      fill: var($--doki-message-text-default);
    }
  }
}

.center {
  justify-content: center;
}

.doki-message__success {
  background: var($--doki-message-success-bg);
  .doki-message__content {
    color: var($--doki-message-text-success);
  }

  svg {
    path {
      fill: var($--doki-message-text-success);
    }
  }
}

.doki-message__info {
  background: var($--doki-message-info-bg);
  .doki-message__content {
    color: var($--doki-message-text-info);
  }
  svg {
    path {
      fill: var($--doki-message-text-info);
    }
  }
}

.doki-message__warning {
  background: var($--doki-message-warning-bg);
  .doki-message__content {
    color: var($--doki-message-text-warning);
  }
  svg {
    path {
      fill: var($--doki-message-text-warning);
    }
  }
}

.doki-message__danger {
  background: var($--doki-message-danger-bg);
  .doki-message__content {
    color: var($--doki-message-text-danger);
  }
  svg {
    path {
      fill: var($--doki-message-text-danger);
    }
  }
}

