@use "../vars/message";

.doki-messagebox__container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.doki-messagebox {

  display: flex;
  flex-direction: column;

  width: 500px;
  min-height: 200px;
  max-height: 300px;
  padding: 10px;

  font-family: "Microsoft YaHei UI Light", sans-serif;

  border-radius: 5px;
  background: #fff;
  filter: drop-shadow(0 0 2px #BBBBBB);
  position: relative;

  animation: linear 0.2s show;

  .doki-messagebox__title {
    display: flex;
    align-items: center;

    font-size: 19px;
    font-weight: bold;

    position: relative;

    img {
      width: 30px;
      height: 30px;

      margin: 0 10px 0 0;
    }

    svg {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 5px;
      cursor: pointer;

      path {
        fill: #BBBBBB;
      }
    }
  }

  .doki-messagebox__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 10px;

    margin: 0 10px;
  }

  .prompt {

    input {
      width: 95%;
      height: 25px;
      appearance: none;

      transition: all 0.3s ease;
      font-family: "Microsoft YaHei UI Light", sans-serif;


      padding: 0 5px;

      border-radius: 5px;
      border: 1px solid var(--doki-message-text-default);
    }

    input:focus-visible {
      outline: none;
      border: 1px solid #0077DD;
    }
  }

  .doki-messagebox__footer {

    height: 35px;
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
  }
}