@use "buttons/buttonsIndex";
@use "links/linksIndex";
@use "input/inputIndex";
@use "selectors/selectorIndex";
@use "slider/sliderIndex";
@use "switches/switchIndex";
@use "avatar/avatarIndex";
@use "carousel/carouselIndex";
@use "tags/tagIndex";
@use "virtualList/virtualListIndex";
@use "pagination/paginationIndex";
@use "upload/uploadIndex";
@use "card/cardIndex";
@use "layout/layoutIndex";
@use "breadcrumb/breadcrumbIndex";
@use "pageHeader/pageHeaderIndex";
@use "backtop/backtopIndex";
@use "divider/dividerIndex";

.title-2 {
  margin: 5px;
  font-family: 'Microsoft YaHei UI Light', sans-serif
}

.title-3 {
  margin: 5px;
  font-family: 'Microsoft YaHei UI Light', sans-serif
}