@use "buttons/buttonsIndex";
@use "links/linksIndex";
@use "input/inputIndex";
@use "selectors/selectorIndex";
@use "slider/sliderIndex";
@use "switches/switchIndex";
@use "avatar/avatarIndex";
@use "carousel/carouselIndex";
@use "tags/tagIndex";
@use "virtualList/virtualListIndex";
@use "pagination/paginationIndex";
@use "upload/uploadIndex";
@use "card/cardIndex";
@use "layout/layoutIndex";
@use "breadcrumb/breadcrumbIndex";
@use "pageHeader/pageHeaderIndex";
@use "backtop/backtopIndex";
@use "divider/dividerIndex";
@use "navBar/navBarIndex";
@use "menu/menuIndex";
@use "step/stepIndex";
@use "progress/progressIndex";
@use "alert/alertIndex";
@use "dialog/dialogIndex";
@use "message/messageIndex";

.title-2 {
  margin: 5px;
  font-family: 'Microsoft YaHei UI Light', sans-serif
}

.title-3 {
  margin: 5px;
  font-family: 'Microsoft YaHei UI Light', sans-serif
}

.hide {
  animation: linear 0.1s hide;
}

@keyframes hide {
  0% {
    opacity: 100%;
  }
  33% {
    opacity: 66%;
  }
  66% {
    opacity: 33%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 33%;
  }
  66% {
    opacity: 66%;
  }
  100% {
    opacity: 1;
  }
}