@use "buttons/buttonsIndex";
@use "links/linksIndex";
@use "input/inputIndex";
@use "selectors/selectorIndex";
@use "slider/sliderIndex";
@use "switches/switchIndex";
@use "avatar/avatarIndex";

.title-2 {
  margin: 5px;
  font-family: 'Microsoft YaHei UI Light', sans-serif
}

.title-3 {
  margin: 5px;
  font-family: 'Microsoft YaHei UI Light', sans-serif
}