
$--doki-input-border: #55DDEE;
$--doki-input-hover-border: #00AABB;
$--doki-input-focus-border: #0077DD;


.doki-auto-input {
  width: 140px;
  height: 20px;

  padding: 5px;

  border-radius: 3px;
  border: 1px solid $--doki-input-border;

  transition: all 0.3s ease-in-out;

  font-family: "Microsoft YaHei UI Light", sans-serif;

}

.doki-auto-input:hover {
  border: 1px solid $--doki-input-hover-border;
}

.doki-auto-input:focus-visible {
  border: 1px solid $--doki-input-focus-border;
  outline: none;

}