
$--doki-input-border: #55DDEE;
$--doki-input-hover-border: #00AABB;
$--doki-input-focus-border: #0077DD;


.doki-input {
  display: flex;
  align-items: center;
  width: 240px;

  input {
    padding: 5px 10px;
    appearance: none;
    border-radius: 3px;
    border: 1px solid var($--doki-input-border);
    font-family: "Microsoft YaHei UI Light", sans-serif;
    transition: all 0.3s ease-in-out;
    width: 170px;
    height: 20px;

  }

  input:hover {
    border: 1px solid var($--doki-input-hover-border);
  }

  :focus-visible {
    border: 1px solid var($--doki-input-focus-border);
    outline: none;
  }

  input[type="password"]{
    -webkit-appearance: none;
  }

  input[type="password"]::-ms-reveal{
    pointer-events: none;
    display: none;
  }

  input[type="password"]::-ms-clear{
    display: none;
  }

  .disabled {
    cursor: not-allowed;
  }
}

.visible-icon {
  width: 18px;
  height: 12px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  margin: 0 10px;

  border-radius: 50%;
  border-top: 1px solid var($--doki-input-border);
  border-bottom: 1px solid rgba(85, 221, 238, 0.3);

  transition: all 0.3s ease;

  .inner {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid var($--doki-input-border);

    z-index: -1;

    transition: all 0.3s ease;
  }
}

.visible {
  height: 2px;
  border-bottom: 1px solid var($--doki-input-border);

  .inner {
    height: 0;
    opacity: 0;
  }
}


.doki-textarea {
  textarea {
    padding: 5px 10px;
    appearance: none;
    border-radius: 3px;
    border: 1px solid var($--doki-input-border);
    font-family: "Microsoft YaHei UI Light", sans-serif;
    transition: all 0.3s ease-in-out;
    width: 300px;
    height: 200px;
  }

  textarea:hover {
    border: 1px solid var($--doki-input-hover-border);
  }

  textarea:focus-visible {
    border: 1px solid var($--doki-input-focus-border);
    outline: none;
  }
}