@use "../vars/tags";

.doki-tag {
  min-width: 50px;
  height: 20px;
  cursor: pointer;

  border: 1px solid var(--doki-tag-default-border);
  background:var(--doki-tag-default-bg);

  border-radius: 5px;
  padding: 2px 5px;

  font-family: "Microsoft YaHei UI Light", sans-serif;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;

}

.close-icon {
  width: 10px;
  height: 10px;
  margin: 3px;

  path {
    fill: #BBBBBB;
  }
}

.doki-tag:hover {
  background: var(--doki-hover-tag-default-bg);
  .close-icon path {
    fill: white;
  }
}

.doki-tag__primary {
  border: 1px solid var(--doki-tag-primary-bg);
  background: var(--doki-hover-tag-primary-bg);

  .close-icon path {
    fill: var(--doki-tag-primary-bg);
  }
}

.doki-tag__primary:hover {
  background: var(--doki-tag-primary-bg);
  color: white;
  .close-icon path {
    fill: white;
  }
}

.doki-tag__success {
  border: 1px solid var(--doki-tag-success-bg);
  background: var(--doki-hover-tag-success-bg);

  .close-icon path {
    fill: var(--doki-tag-success-bg);
  }
}

.doki-tag__success:hover {
  color: white;
  background: var(--doki-tag-success-bg);
  .close-icon path {
    fill: white;
  }
}

.doki-tag__warning {
  border: 1px solid var(--doki-tag-warning-bg);
  background: var(--doki-hover-tag-warning-bg);
  .close-icon path {
    fill: var(--doki-tag-warning-bg);
  }
}

.doki-tag__warning:hover {
  color: white;
  background: var(--doki-tag-warning-bg);
  .close-icon path {
    fill: white;
  }
}

.doki-tag__danger {
  border: 1px solid var(--doki-tag-danger-bg);
  background: var(--doki-hover-tag-danger-bg);
  .close-icon path {
    fill: var(--doki-tag-danger-bg);
  }
}

.doki-tag__danger:hover {
  color: white;
  background: var(--doki-tag-danger-bg);
  .close-icon path {
    fill: white;
  }
}