:root {

  --doki-link-default-color: black;
  --doki-link-primary-color: rgb(0, 170, 187);
  --doki-link-success-color: rgb(119, 153, 119);
  --doki-link-info-color: rgb(187, 187, 187);
  --doki-link-warning-color: rgb(255, 153, 34);
  --doki-link-danger-color: rgb(221, 34, 0);
  
}

