:root {
  /* background */
  --doki-selector-checked-bg: rgb(0, 170, 187);
  --doki-selector-success-checked-bg: rgb(119, 153, 119);
  --doki-selector-disabled-checked-bg: rgb(187, 187, 187);
  --doki-selector-warning-checked-bg: rgb(255, 153, 34);
  --doki-selector-danger-checked-bg: rgb(221, 34, 0);
}