@use "../vars/input";

.doki-cascader {
  width: 140px;
  height: 20px;

  padding: 5px;

  border-radius: 3px;
  border: 1px solid var(--doki-input-border);

  transition: all 0.3s ease-in-out;

  font-family: "Microsoft YaHei UI Light", sans-serif;
}

.doki-cascader:hover {
  border: 1px solid var(--doki-input-hover-border);
}

.doki-cascader:focus {
  border: 1px solid var(--doki-input-focus-border);
  outline: none;
}

.cascader-input {
  width: 120px;
  height: 20px;
  outline: none;
  border: none;

  cursor: pointer;

  font-family: "Microsoft YaHei UI Light", sans-serif;

  display: flex;

  align-items: center;
}

.cascader-selection {
  position: absolute;
  top: 20px;

  width: 200px;
  height: 400px;

  background-color: white;


}