.doki-carousel {
  width: 800px;
  height: 400px;
  overflow: hidden;

  position: relative;

}

.doki-carousel-item {
  width: 800px;
  height: 100%;
}

.doki-carousel-button {
  cursor: pointer;
  position: absolute;

  z-index: 1;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s linear;

  img {
    width: 50px;
    height: 50px;
  }
}

.doki-carousel-button:hover {
  background: rgba(187, 187, 187, 0.4);
}

.doki-carousel-button__left {
  left: 10px;
  top: 45%;



}

.doki-carousel-button__right {
  right: 10px;
  top: 45%;

}

.doki-carousel__vertical {
  flex-direction: column;
}

.doki-carousel__horizontal {
  flex-direction: row;
}

.doki-carousel-inner {
  display: flex;

  transition: all 0.2s ease-in-out;
}

.doki-carousel-indicator {
  position: absolute;
  top: 90%;

  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.indicator-item {
  width: 10px;
  height: 10px;

  background: azure;
  border-radius: 50%;

  cursor: pointer;

  transition: all 0.1s ease-in-out;
}

.indicator-item__active {
  width: 40px;
  border-radius: 5px;


}