@use "../vars/input";

.doki-auto-input {
  width: 140px;
  height: 20px;

  padding: 5px;

  border-radius: 3px;
  border: 1px solid var(--doki-input-border);

  transition: all 0.3s ease-in-out;

  font-family: "Microsoft YaHei UI Light", sans-serif;

}

.doki-auto-input:hover {
  border: 1px solid var(--doki-input-hover-border);
}

.doki-auto-input:focus-visible {
  border: 1px solid var(--doki-input-focus-border);
  outline: none;

}